body, html {
    margin: 0;
    font-family:'Sora', 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.45);
  }

.text h1 {
    margin: 0;
    letter-spacing: 2;
    font-size: 90px;
    font-weight: 800;
}

.text h2 {
    /* margin: 0; */
    font-size: 40px;
}

.text p {
    font-size: 20px;
    font-weight: 200;
}

